<div style="margin-top: 10px;">
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.address}}</td>
            <td>{{user.role}}</td>
            <td><a style="cursor: pointer" (click)="onEdit(user)">Edit</a></td>
        </tr>
        <tr *ngIf="!users || !users.length">
            <td [attr.colspan]="7" >
                No Users Found. Please add new user.
            </td>
        </tr>
    </table>
</div>
<router-outlet></router-outlet>

